sphinx==4.2.0
pytest==6.2.5
pytest-cov
wheel
prompt_toolkit==1.0.14
PyInquirer
numpy==1.19.5
imutils==0.5.4
opencv-python==4.5.4.60
requests==2.26.0
beautifulsoup4==4.10.0
selenium==3.141.0
alive-progress
pytesseract==0.3.8
joblib==1.1.0